
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Logo and Listing Link -->
        <div class="navbar-brand d-flex align-items-center">
            <a href="/Tripsy" class="me-3"><i class="fa-regular fa-compass"></i></a>
            <a class="nav-link" href="/Tripsy">Listing</a>
        </div>

       <!-- Search Box -->
       <div class="search-box">
        <form class="input-group" style="height: 50px;" id="searchForm" method="GET">
            <input type="text" class="form-control" placeholder="Location" aria-label="Location" id="locationInput" name="location" style="height: 50px;" required>
            <input type="date" class="form-control" placeholder="Check-in" aria-label="Check-in" name="checkin" style="height: 50px;">
            <input type="date" class="form-control" placeholder="Check-out" aria-label="Check-out" name="checkout" style="height: 50px;">
      
            <button class="btn-primary search-btn" type="button" style="height: 50px;" onclick="submitSearch()">
                <i class="bi bi-search"></i> Search
            </button>
        </form>
      </div>
      

        <!-- Login/Logout Links -->
        <div class="login-logout">
            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item"><a class="nav-link" href="/Tripsy/newProperty">Create Listing</a></li>
                <% if(!currUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/login"><b>Login</b></a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup"><b>Sign Up</b></a></li>
                <% } %>
                <% if(currUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/logout"><b>Logout</b></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- search empty logic -->
<script>
    function submitSearch() {
        const location = document.getElementById('locationInput').value;
        if (location) {
            // Set the form action with the location in the path
            document.getElementById('searchForm').action = `/tripsy/search/${encodeURIComponent(location)}`;
            document.getElementById('searchForm').submit();
        } else {
            alert('Please enter a location');
        }
    }
  </script>


 
  

