body{
    font-family: "Anek Devanagari", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
/* -----------------navbar---------------- */
.navbar{
    height: 5rem;
    
}
.fa-compass {
    font-size: 2.5rem !important;
    color: red;

}
.nav-link {
    font-weight: 500 !important;
    color: rgb(40, 40, 40) !important;
    font-size: 1.2rem !important;
}

/* --------------footer----------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(231, 231, 231);
    border-top: solid rgb(62, 62, 62) 0.5px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
   
    width: 100%;

}
.social i{
    margin: 15px;
    font-size: 1.5rem;
    color: rgb(36, 36, 36);
}
.footer div {
    width: 100%;

}
.footer-list a{
    margin: 10px;
    color: rgb(83, 83, 83);
    text-decoration: none;
    
}
.footer-list a:hover {
    text-decoration: underline;
}
/* --------------listing card-------------------- */
.card-img-top{

    object-fit: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem !important;

}
.card {
    border: none !important;
    padding: 0 !important;
    margin: 1rem;
}

.row a{
    text-decoration: none !important;
}
.card-body {
    padding: 0 !important;
    font-weight: 400;
}
.card-img-overlay {
opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
/* --------------buttons---------------- */
.add-btn{ 
    background-color: red !important;
    border: none !important;
    color: black !important;
}
.detail-btn{
    display: flex;
    
}
/* ------------------popup------------------ */

.custom-container {
    height: calc(10% + 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.alert-container {
    position: relative;
    width: 400px;
    height: 10px;
    border-radius: 5px;
    z-index: 1050;
}

.popup {
    position: fixed;
    top: 50%; 
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    animation: slide-in 0.5s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

 /* -----------------------rating card---------------- */
  @media (max-height: 600px) {
    .custom-container {
      height: auto;
      padding-top: 20px;
    }
  }
  .star-rating {
    display: flex;
    direction: row-reverse; 
    justify-content: flex-start;
}

.star {
    cursor: pointer;
    color: #ddd; 
    font-size: 2rem; 
    padding: 0 5px; 
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ .star {
    color: #f39c12; 
}
#map {
    height: 500px;
    width: 100%;
    margin: 20px 0;
}




